/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes changed {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

.core {
  fill: var(--accent-color);
  filter: opacity(0);
  transition: filter 0.3s linear 0.03s;
}

.main-body {
  fill: var(--accent-color);
  filter: opacity(0);
  transition: filter 0.3s linear 0s;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.sparks {
  opacity: 0;
}

.heart:hover .core {
  filter: opacity(1);
  transition: filter 0.3s linear 0s;
}

.heart:hover .main-body {
  filter: opacity(1);
  transition: filter 0.3s linear 0.05s;
}

.heart:active .core {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s linear 0s;
}

.heart:active .main-body {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartbit 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sprk 0.3s ease-in 0.3s alternate;
}

@keyframes heartbit {
  to {
    transform: scale(1.5);
  }
}

@keyframes sprk {
  to {
    opacity: 1;
  }
}
