/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  padding: 102px 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--font-weight-text);
  background-image: repeating-linear-gradient(
      to left,
      var(--rep-lin-gr-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--rep-lin-gr-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, var(--lin-gr-color-from), var(--lin-gr-color-to));
  background-size: cover;
}

.header {
  font-family: var(--accent-font);
  width: clamp(376px, 696px, 696px);
  height: 22.7rem;
  border: 2px solid var(--accent-color);
  justify-content: end;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  display: flex;
  background-color: var(--bg-color);
}

.header-title {
  font-size: clamp(3.0625rem, 0rem + 14.2857vw, 4.0625rem);
}

.header-subtitle {
  font-size: clamp(0.875rem, 0rem + 6.6667vw, 1.4375rem);
}

.theme-menu {
  padding: 25px 0;
  font-size: 14px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
  transition: 0.3s ease;
}

.theme-menu__button:hover {
  filter: opacity(0.6);
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  transition: 0.3s ease;
  transform-origin: left;
  background: var(--accent-color);
  transform: scaleX(0);
}

.theme-menu__button:focus-visible {
  filter: opacity(0.6);
}

.theme-menu__button:focus-visible::after {
  content: "";
  transform: scaleX(1);
  filter: opacity(0.6);
  outline: none;
}

.theme-menu__button:focus {
  border: none;
  outline: none;
}

.theme-menu__button:disabled {
  filter: opacity(0.6);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  width: 16px;
  left: -15px;
  filter: opacity(0.6);
  animation: changed 0.5s infinite ease-in-out alternate-reverse;
}

@keyframes changed {
  from {
    left: -15px;
  }

  to {
    left: -11px;
  }
}

.main {
  display: grid;
  padding: 104px 0 54px;
  gap: 54px;
}

.card {
  font-size: 18px;
  justify-self: center;
  display: grid;
  width: clamp(376px, 696px, 696px);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card-title {
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: var(--font-weight-title);
  padding: 0 10px 5.5px;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-image-contaier {
  position: relative;
  width: 100%;
  height: 43.5rem;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}

.image-lable {
  font-family: var(--accent-font);
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  filter: opacity(0.5);
  z-index: 2;
  padding: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .image-lable {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: var(--bg-color);
  }
} 

.card-text {
  font-variation-settings: var(--font-weight-text);
  font-size: 18px;
  display: grid;
  gap: 27px;
  padding: 25px;
  line-height: 21px;
}

.like-button-card {
  font-family: var(--accent-font);
  padding: 0 25px 25px;
  justify-self: end;
  width: min-content;
  display: flex;
  gap: 8px;
}

.card__icon-button,
.card__like-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.card__icon-button {
  outline: none;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  background-color: transparent;
  width: 39px;
}

.button-like-text {
  display: block;
  background-color: transparent;
  padding: 12px 17px;
  width: 130px;
  font-size: 14px;
  line-height: 12.6px;
  font-variation-settings: var(--font-weight-text);
  border: 2px solid var(--accent-color);
}

.footer {
  display: grid;
}

.button-save {
  display: grid;
  grid-template-columns: min-content max-content;
  padding: 15px 20px;
  justify-self: center;
  align-self: center;
  width: 21rem;
  background-color: var(--bg-color);
  outline: none;
  border: 2px solid var(--accent-color);
  gap: 8px;
}

@media (width <= 376px) {
  .header,
  .card {
    width: 100%;
  }
  .card-image-contaier {
    height: 23.65rem;
  }
}

.container-svg {
  width: 21px;
  display: block;
}

.button-save-image {
  fill: var(--accent-color);
  justify-self: center;
}

.button-save-text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  align-self: center;
  line-height: 12.60px;
}
.button-animation {
  position: relative;
}

.button-animation:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
}

.button-animation::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  transform-origin: left;
  background: var(--accent-color);
  transform: scaleX(0);
}

.button-animation:hover::after {
  content: "";
  transform: scaleX(1);
  cursor: pointer;
}

.button-animation:hover .button-animation-item {
  position: relative;
  mix-blend-mode: difference;
  color: var(--text-change-color);
  z-index: 2;
  fill: var(--text-change-color);
}

.core {
  fill: var(--accent-color);
  filter: opacity(0);
  transition: filter 0.3s 0.03s;
}

.main-body {
  fill: var(--accent-color);
  filter: opacity(0);
  transition: filter 0.3s 0s;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.sparks {
  opacity: 0;
}

.heart:hover .core {
  filter: opacity(1);
  transition: filter 0.3s 0s;
}

.heart:hover .main-body {
  filter: opacity(1);
  transition: filter 0.3s 0.05s;
}

.heart:active .core {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s 0s;
}

.heart:active .main-body {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  filter: opacity(1);
  transition: filter 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: heartbit 0.3s ease-in 0.1s reverse;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sprk 0.3s ease-in 0.3s reverse;
}

@keyframes heartbit {
  to {
    transform: scale(1.5);
  }
}

@keyframes sprk {
  to {
    opacity: 1;
  }
}

.dialog {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: min-content min-content;
  width: clamp(341px, 22.5rem, 357px);
  gap: 30px 20px;
}

.dialog-title {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  overflow-wrap: break-word;
}

.dialog-button-from {
  border: none;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.container-svg-dialog {
  display: grid;
}

.dialog-image {
  align-self: center;
  justify-self: center;
}

.dialog-button {
  padding: 9px 17px;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  border: 2px solid var(--accent-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.image-foodtruck {
  filter: blur(0.2rem);
}

.image-galaxy {
  filter: contrast(120%);
}

.image-lake {
  filter: sepia(100%);
}

.image-night-sky {
  filter: saturate(180%);
}

.image-hair {
  filter: blur(0.05rem) hue-rotate(-90deg) saturate(180%);
}

.image-mountain {
  filter: brightness(150%) grayscale(1);
}

.image-tree {
  filter: invert(1);
}

.image-man {
  filter: contrast(120%) saturate(120%) brightness(120%);
}
