/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  padding: 102px 0;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      to left,
      var(--rep-lin-gr-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--rep-lin-gr-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, var(--lin-gr-color-from), var(--lin-gr-color-to));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: end;
  align-items: center;
  width: clamp(376px, 696px, 696px);
  border: 2px solid var(--accent-color);
  padding-top: 136px;
  font-family: var(--accent-font), fantasy;
  background-color: var(--bg-color);
}

.header-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-subtitle {
  padding-top: 20px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  justify-self: center;
  padding: 25px 0 25px 15px;
  font-size: 14px;
}

.theme-menu__list {
  display: grid;
  gap: 12px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-size: 14px;
  line-height: 12.5px;
  text-transform: uppercase;
  background-color: transparent;
  transition: 0.3s ease;
}

.theme-menu__button:hover {
  filter: opacity(0.6);
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--accent-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible {
  filter: opacity(0.6);
}

.theme-menu__button:focus-visible::after {
  content: "";
  outline: none;
  filter: opacity(0.6);
  transform: scaleX(1);
}

.theme-menu__button:focus {
  border: none;
  outline: none;
}

.theme-menu__button:disabled {
  filter: opacity(0.6);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  width: 16px;
  filter: opacity(0.6);
  animation: changed 0.5s infinite ease-in-out alternate-reverse;
}

.main {
  display: grid;
  gap: 50px;
  padding-top: 102px;
}

.cards-section {
  display: grid;
  gap: 53px;
}

.card {
  display: grid;
  justify-self: center;
  width: clamp(376px, 696px, 696px);
  border: 2px solid var(--accent-color);
  font-size: 18px;
  background-color: var(--bg-color);
}

.card-title {
  padding: 5.5px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card-image-contaier {
  position: relative;
  width: 100%;
  height: 43.5rem;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.image-lable {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 25px;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .image-lable {
    text-shadow: var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card-text {
  display: grid;
  gap: 27px;
  padding: 25px 26px 25px 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-weight-text);
}

.like-button-card {
  display: flex;
  justify-self: end;
  gap: 6px;
  width: min-content;
  padding: 0 25px 24px;
  font-family: var(--accent-font), fantasy;
}

.card__icon-button,
.card__like-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.card__icon-button {
  border: 2px solid transparent;
  outline: none;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  width: 39px;
  background-color: transparent;
}

.button-like-text {
  display: block;
  width: 130px;
  border: 2px solid var(--accent-color);
  padding: 12px 17px 10px;
  font-size: 14px;
  line-height: 12.6px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.button-save-container {
  display: grid;
}

.button-save {
  display: grid;
  grid-template-columns: min-content max-content;
  justify-self: center;
  gap: 8px;
  align-self: center;
  width: 21rem;
  border: 2px solid var(--accent-color);
  padding: 14px 20px;
  outline: none;
  background-color: var(--bg-color);
}

.container-svg {
  display: block;
  width: 21px;
}

.button-save-image {
  justify-self: center;
  fill: var(--accent-color);
}

.button-save-text {
  align-self: center;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 12.6px;
}
.button-animation {
  position: relative;
}

.button-animation:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
}

.button-animation::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button-animation:hover::after {
  content: "";
  transform: scaleX(1);
  cursor: pointer;
}

.button-animation:hover .button-animation-item {
  position: relative;
  z-index: 2;
  color: var(--text-change-color);
  fill: var(--text-change-color);
  mix-blend-mode: difference;
}

@media (width <= 376px) {
  .header,
  .card {
    width: 100%;
  }

  .header {
    padding-top: 120px;
  }

  .cards-section {
    gap: 51px;
  }

  .card-title {
    padding: 5.5px 10px 2px;
  }

  .card-image-contaier {
    height: 23.5rem;
  }

  .button-save {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 19.2rem;
    padding: 15px 16px;
  }
  .container-svg {
    width: 28px;
  }
}

.dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: min-content min-content;
  gap: 30px 20px;
  width: clamp(341px, 22.5rem, 357px);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.dialog-title {
  overflow-wrap: break-word;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog-button-from {
  grid-column: 1/-1;
  grid-row: 2/3;
  border: none;
}

.container-svg-dialog {
  display: grid;
}

.dialog-image {
  justify-self: center;
  align-self: center;
}

.dialog-button {
  width: 100%;
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
  outline: none;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: transparent;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.image-filter-blur {
  filter: blur(0.2rem);
}

.image-filter-contrast {
  filter: contrast(120%);
}

.image-filter-sepia {
  filter: sepia(100%);
}

.image-filter-saturate {
  filter: saturate(180%);
}

.image-filter-bl-rot-sat {
  filter: blur(0.05rem) hue-rotate(-90deg) saturate(180%);
}

.image-filter-brigh-gray {
  filter: brightness(150%) grayscale(1);
}

.image-filter-invert {
  filter: invert(1);
}

.image-filter-cont-sat-brigh {
  filter: contrast(120%) saturate(120%) brightness(120%);
}
/** { outline: 1px solid yellow; }*/ /*для проверки*/
