/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "Press Start 2P";
  --font-weight-text: "wght" 400;
  --font-weight-title: "wght" 700;
  --bg-color: #fff;
  --accent-color: #000;
  --rep-lin-gr-color: #d3d3d3;
  --lin-gr-color-from: #e7e7e7;
  --lin-gr-color-to: #1a1a1a;
  --text-change-color: #fff;
  --fill-color: #f00;
}
